{% unless grid_item_width %}
  {%- assign grid_item_width = 'medium-up--one-half' -%}
{% endunless %}

{%- assign on_sale = false -%}
{% if product.compare_at_price > product.price %}
  {%- assign on_sale = true -%}
{% endif %}

{%- assign sold_out = true -%}
{% if product.available %}
  {%- assign sold_out = false -%}
{% endif %}

{%- assign product_tags = product.tags | join: ',' -%}
{%- assign has_custom_label = false -%}
{% if product_tags contains '_label_' %}
  {% for tag in product.tags %}
    {% if tag contains '_label_' %}
      {%- assign tag_starts_with = tag | slice: 0 -%}
      {% if tag_starts_with == '_' %}
        {%- assign has_custom_label = true -%}
        {%- assign custom_label = tag | replace: '_label_', '' -%}
      {% endif %}
    {% endif %}
  {% endfor %}
{% endif %}

<div
  data-title="{{ product.metafields.custom.product_title.value }}"
  class="grid__item grid__product-item grid-product {{ grid_item_width }}{% if settings.quick_shop_enable and sold_out == false %} grid-product__has-quick-shop{% endif %}"
  data-aos="row-of-{{ per_row }}">
  <div class="grid-product__content">
    {% if has_custom_label %}
      <div class="grid-product__tag grid-product__tag--custom">
        {{ custom_label }}
      </div>
    {% else %}
      {% if sold_out %}
        <div class="grid-product__tag">
          {{ 'products.product.sold_out' | t }}
        </div>
      {% endif %}
    {% endif %}

    {%- assign fixed_aspect_ratio = false -%}
    {% unless settings.product_grid_image_size == 'natural' %}
      {%- assign fixed_aspect_ratio = true -%}
    {% endunless %}

    <a
      id="product_link-{{product.id}}"
      href="{{ product.url }}"
      class="grid-product__link {% if sold_out %} grid-product__link--disabled{% endif %}">
      <div class="grid-product__image-mask">
        {% if settings.quick_shop_enable and sold_out == false %}
          <div class="quick-product__btn js-modal-open-quick-modal-{{ product.id }} small--hide" data-product-id="{{ product.id }}">
            <span class="quick-product__label">{{ settings.quick_shop_text }}</span>
          </div>
        {% endif %}
        {% if fixed_aspect_ratio %}
          <div
            id="prod-image--{{ product.id }}"
            class="grid__image-ratio grid__image-ratio--{{ settings.product_grid_image_size }} lazyload"
            data-bgset="{% include 'bgset', image: product.featured_image %}"
            data-sizes="auto"></div>
        {% else %}
          <div class="image-wrap" style="height: 0; padding-bottom: {{ 100 | divided_by: product.featured_image.aspect_ratio }}%;">
            {%- assign img_url = product.featured_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
            <img
              class="grid-product__image lazyload"
              data-src="{{ img_url }}"
              data-widths="[180, 360, 540, 720, 900, 1080]"
              data-aspectratio="{{ product.featured_image.aspect_ratio }}"
              data-sizes="auto"
              alt="{{ product.featured_image.alt | escape }}">
            <noscript>
              <img
                class="grid-product__image lazyloaded"
                src="{{ product.featured_image | img_url: '400x' }}"
                alt="{{ product.featured_image.alt | escape }}">
            </noscript>
          </div>
        {% endif %}



        {% if settings.product_hover_image and product.images.size > 1 %}
          {%- assign black_hover_image = product.images[1] -%}
          {%- assign white_hover_image = product.images[2] -%}
          {%- assign darkblue_hover_image = product.images[4] -%}

          <div
            id="variant-hover--{{product.id}}-black"
            class="grid-product__secondary-image small--hide lazyload"
            data-bgset="{% include 'bgset', image: black_hover_image %}"
            data-sizes="auto"></div>


          <div
            id="variant-hover--{{product.id}}-white"
            class="grid-product__secondary-image small--hide lazyload"
            data-bgset="{% include 'bgset', image: white_hover_image %}"
            style="display:none"
            data-sizes="auto"></div>

          <div
            id="variant-hover--{{product.id}}-navy-alcantara-darkblue"
            class="grid-product__secondary-image small--hide lazyload"
            data-bgset="{% include 'bgset', image: darkblue_hover_image %}"
            style="display:none"
            data-sizes="auto"></div>
        {% endif %}


        {% if settings.collection_color_swatches %}
          {% for option in product.options_with_values %}
            {%- assign option_name = option.name | downcase -%}
            {% if option_name contains 'color' or option_name contains 'colour' %}
              {%- assign option_index = forloop.index0 -%}
              {%- assign values = '' -%}
              {% for variant in product.variants %}
                {%- assign value = variant.options[option_index] %}
                {% unless values contains value %}
                  {%- assign values = values | join: ',' %}
                  {%- assign values = values | append: ',' | append: value %}
                  {%- assign values = values | split: ',' %}
                  {% if variant.image %}
                    <div class="grid-product__color-image grid-product__color-image--{{ product.id }}--{{variant.id}} small--hide"></div>
                  {% endif %}
                {% endunless %}
              {% endfor %}
            {% endif %}
          {% endfor %}
        {% endif %}
      </div>

      {% assign variant_value_parts = product.metafields.custom.variant.value | split: '<br/>' %}
      {% assign second_part = variant_value_parts[1] %}
      {% assign second_part_length = second_part | size %}

      {% if second_part_length <= 23 %}
        {% assign variant_value_display = variant_value_parts[0] | append: '<br/>' | append: second_part | append: '<br/>' %}
      {% else %}
        {% assign variant_value_display = product.metafields.custom.variant.value %}
      {% endif %}

      <div class="grid-product__title grid-product__title--{{ settings.type_product_style }}">
        <div class="product_desc {% if product.metafields.custom.variant.value == blank %}grid-product_no-variant{% endif %}">
          <h4 class="product__title-variant">{{ variant_value_display }}</h4>
          {% render 'product-price', product: product, product_grid: true %}
        </div>
        <!-- <a href="/products/{{ product.handle }}" class="product__item-btn">See more</a> -->
      </div>
    </a>
    {%- if product.variants.first.available -%}
      <div style="text-align: center; padding: 0.7em 0.3em;">
        <form method="post" action="/cart/add">
          <input
            type="hidden"
            name="id"
            value="{{ product.variants.first.id }}" />
          <input
            min="1"
            type="hidden"
            id="quantity"
            name="quantity"
            value="1" />
          <input
            type="submit"
            value="Add to bag"
            class="btn"
            style="padding: 0.6em 1em;" />
        </form>
      </div>
    {%- else -%}
      <div style="text-align: center; padding: 0.7em 0.3em;">
        <input
          type="button"
          class="btn"
          onclick="location.href='{{ product.url | default: '#' }}'"
          value="Sold out"
          style="padding: 0.6em 1em;" />
      </div>
    {%- endif -%}
  </div>
  {% if settings.collection_color_swatches %}
    {%- assign swatch_file_extension = 'png' -%}
    {%- assign color_count = 0 -%}
  {% endif %}
  {% render 'preorder-now-collection-item', product: product %}</div>