<div data-section-id="{{ section.id }}">


       <div class="background-image-wrapper" style="padding-bottom: {{ 100 | divided_by: section.settings.image.aspect_ratio }}%;">
            {%- assign img_url = section.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
            <img class="feature-row__image lazyload"
                data-src="{{ img_url }}"
                data-aspectratio="{{ section.settings.image.aspect_ratio }}"
                data-sizes="auto"
                alt="{{ section.settings.image.alt }}">
         <div class="absolute--center index-hero--static-image__text-container">
          <h1 class="title title--big" style="line-height: 1; margin: 0;">
            {{section.settings.title}}
          </h1>
          <p style="margin: 20px 0;">{{section.settings.text}}</p>
          <a href="{{section.settings.button_link}}">
            <button class="btn btn--block" id="dropdown-click">
                {{section.settings.button_label}}
            </button>
          </a>
        </div>
    </div>

</div>

{% schema %}
  {
    "name": "Large image with text box",
    "class": "index-section--flush",
    "settings": [
      {
        "type": "text",
        "id": "subtitle",
        "label": "Subheading",
        "default": "Impressive"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Large image with text box"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text",
        "default": "<p>Pair large text with a full-width image to draw attention to an important detail of your brand or product line.</p>"
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "Button label"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button link"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "select",
        "id": "focal_point",
        "label": "Image focal point",
        "info": "Used to keep the subject of your photo in view.",
        "default": "center",
        "options": [
          {
            "value": "20% 0",
            "label": "Top left"
          },
          {
            "value": "top",
            "label": "Top"
          },
          {
            "value": "80% 0",
            "label": "Top right"
          },
          {
            "value": "20% 50%",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Middle"
          },
          {
            "value": "80% 50%",
            "label": "Right"
          },
          {
            "value": "20% 100%",
            "label": "Bottom left"
          },
          {
            "value": "bottom",
            "label": "Bottom"
          },
          {
            "value": "80% 100%",
            "label": "Bottom right"
          }
        ]
      },
      {
        "type": "color",
        "id": "color_border",
        "label": "Image color",
        "info": "Used for mobile border",
        "default": "#f4f4f4"
      },
      {
        "type": "select",
        "id": "layout",
        "label": "Layout",
        "default": "left",
        "options": [
          {
            "value": "left",
            "label": "Text on left"
          },
          {
            "value": "right",
            "label": "Text on right"
          }
        ]
      },
      {
        "type": "range",
        "id": "height",
        "label": "Section height",
        "default": 550,
        "min": 450,
        "max": 750,
        "step": 100,
        "unit": "px"
      },
      {
        "type": "checkbox",
        "id": "framed",
        "label": "Add frame",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "parallax",
        "label": "Enable parallax",
        "default": true
      }
    ],
    "presets": [
      {
        "name": "Large image with text box",
        "category": "Image"
      }
    ]
  }
{% endschema %}
