<style>
  .logo-bar--{{ section.id }}{
    opacity: {{ section.settings.logo_opacity | divided_by: 100.0 }};

  }
  #logo-bar__slideshow {
    max-width: 720px;
    margin: 0 auto;
  }

  #logo-bar__slideshow .logo-bar__item {
    margin: 0 20px;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    min-height: 80px;
  }

  #logo-bar__slideshow .slick-next,
  #logo-bar__slideshow .slick-prev {
    width: unset;
    height: unset;
  }

  #logo-bar__slideshow .slick-prev {
    left: 0;
  }

  #logo-bar__slideshow .slick-next {
    right: 0;
  }
  .slick-next:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    display: block;
    border-right: 3px solid #000;
    border-bottom: 3px solid #000;
    width: 15px;
    height: 15px;
    transform: translate(-50%, -50%) rotate(-45deg);
  }


  #logo-bar__slideshow .slick-prev:before {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    display: block;
    border-left: 3px solid #000;
    border-top: 3px solid #000;
    width: 15px;
    height: 15px;
    float: right;
    transform: translate(50%, -50%) rotate(-45deg);
  }

  #logo-bar__slideshow img {
    vertical-align: center;
    object-fit: contain;
    object-position: center;
  }

  #logo-bar__slideshow .slick-slide img {
    opacity: 0.5;
    max-width: 125px;
  }

  #logo-bar__slideshow .slick-slide.slick-current.slick-active img {
    opacity: 1 !important;
  }

  .section-btn {
    text-align: center;
    margin: 40px 0 30px;
  }

  .section-btn .btn {
    color: #000;
    border: 2px solid #000;
    background: transparent !important;
    letter-spacing: unset;
  }

  .slider-for {
    padding: 2em !important;
    position: relative;
    font-size: 1.2em;
    margin: 0 auto 10px !important;
  }

  .slider-for_content {
    min-height: 150px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex !important;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  /*   .slider-for:before{
  content: "";
    width: 20px;
    height: 20px;
    background: #000;
    position: absolute;
    left: 50%;
    bottom: -10px;
    transform: rotate(45deg);
  } */

  .slider-nav .slick-track,
  .slider-nav .slick-list {

    min-width: 100% !important;
  }

  @media screen and (min-width: 480px) {
    .slider-nav .slick-track {
      display: flex;
      justify-content: center;
    }
  }
</style>

<div class="section--divider page-width slideshow-divider{% if section.settings.show-section-divider %}line-divider {% endif %}">

  <div class="{% if section.settings.show-section-divider %}page-width {% endif %}" data-aos="logo__animation">
    {% if section.settings.title != blank %}
      <div class="section-header">
        <h2 class="section-header__title">{{ section.settings.title | escape }}
        </h2>
      </div>
    {% endif %}

    {% if section.blocks.size > 0 %}
      <div class="slider-for" style="max-width: 700px; margin: 0 auto;">
        {% for block in section.blocks %}
          <div class="slider-for_content" style="text-align: center;">
            <p>{{block.settings.description}}
            </p>
            {% if block.settings.description_label != blank %}
              <a href="{{block.settings.desc_link}}" style="color: #319a33;">{{block.settings.description_label}}
              </a>
            {% endif %}
          </div>
        {% endfor %}
      </div>

      <div class="slider-nav logo-bar logo-bar--{{ section.id }}" id="logo-bar__slideshow">
        {% for block in section.blocks %}
          <div class="logo-bar__item" {{ block.shopify_attributes }}>
            {% if block.settings.link != blank %}
              <a href="{{ block.settings.link }}" class="logo-bar__link">
              {% endif %}
              {% if block.settings.image != blank %}
                {%- assign img_url = block.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                <img class="logo-bar__image lazyload" data-src="{{ img_url }}" data-widths="[180, 360, 540, 720]" data-aspectratio="{{ block.settings.image.aspect_ratio }}" data-sizes="auto" alt="{{ block.settings.image.alt }}">
                <!--               <img src="{{block.settings.image | img_url: '150x50'}}"/> -->
              {% else %}
                {{ 'logo' | placeholder_svg_tag: 'placeholder-svg' }}
              {% endif %}
              {% if block.settings.link != blank %}
              </a>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    {% endif %}
    {% if section.settings.button != blank %}
      <div class="section-btn">
        <a href="{{section.settings.button_link}}" class="section-header__btn btn">{{ section.settings.button | escape }}
        </a>
      </div>
    {% endif %}

  </div>

</div>


{% schema %}
  {
    "name": "Logo list slideshow",
    "class": "index-section",
    "max_blocks": 20,
    "settings": [
      {
        "type": "checkbox",
        "id": "show-section-divider",
        "label": "Show Section Divider",
        "default": true
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading"
      },
      {
        "type": "text",
        "id": "button",
        "label": "Button label"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button Link"
      }, {
        "type": "range",
        "id": "logo_opacity",
        "label": "Logo opacity",
        "default": 76,
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "%"
      }
    ],
    "blocks": [
      {
        "type": "logo_image",
        "name": "Logo",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link",
            "info": "Optional"
          },
          {
            "type": "text",
            "id": "description",
            "label": "Description"
          },
          {
            "type": "url",
            "id": "desc_link",
            "label": "Link"
          }, {
            "type": "text",
            "id": "description_label",
            "label": "Description link"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Logo list slideshow",
        "category": "Image",
        "blocks": [
          {
            "type": "logo_image"
          }, {
            "type": "logo_image"
          }, {
            "type": "logo_image"
          }, {
            "type": "logo_image"
          }
        ]
      }
    ]
  }
{% endschema %}
